---
import { cn } from "@/lib/utils";
import Typography from "./ui/typography.astro";
import { Image } from "astro:assets";
import type { ImageMetadata } from "astro";

interface Props {
  title: string
  description: string
  footer: string
  image: ImageMetadata
  imageAlt: string
  imagePosition?: "left" | "right"
}

const {
  title,
  description,
  footer,
  image,
  imageAlt,
  imagePosition = "right"
} = Astro.props
---

<div class={cn(
  "bg-card text-card-foreground flex flex-wrap sm:flex-nowrap items-center justify-center sm:justify-start",
  imagePosition == "right" ? "flex-row-reverse lg:-mr-52" : "lg:-ml-52"
)}>
  <Image
    src={image}
    width={image.width}
    height={image.height}
    alt={imageAlt}
    loading="eager"
    class={cn("bg-muted mt-4 sm:mt-0 max-w-52 max-h-52 overflow-clip rounded-xl")}
  />
  <Typography class={cn("p-4 text-center sm:text-left", imagePosition == "right" ? "" : null)}>
    <h4>{title}</h4>
    <p>{description}</p>
    <p class="text-muted-foreground">{footer}</p>
  </Typography>
</div>
